body
{
    background-image: url('black-and-white-city-skyline-buildings.jpg');
    font-family:'Lobster', cursive;
    font-size:15px;
}

#sidebar{
    float:left;
    width: 25%;
    box-sizing:border-box;
    border-bottom:2px solid black;
}


#main{
    float:left;
    width: 75%;
    box-sizing:border-box;
    padding-right: 20em;
    padding-left:5em;
    
}

.pskills > li{
    
    display:inline-block;
    font-size: 30px;
    margin:5px;
}

.thumbnail{
    height:500px;
    width:450px;
    background-color:rgba(128, 128, 128, 0.85);
    font-size:16px;
    color:white;
    border:none;

}



#pics{
    border-radius: 50%;
    border: 2px thin black;
    height:300px;
    width:350px;
    
    
}

.btn{
    height:50px;
    width:50px;
}

a {
    color: rgb(0, 153, 51);
}

a:link{
    color:rgb(0, 153, 51);
}

a:visited{
    color:blueviolet;
}

p{
    font-family:'Kalam',cursive;
    color:black;

}

li{
    color:darkblue;
}